<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>欢迎来到我的网站，这里是我的云工厂，目前该工厂正在装修中，欢迎大家下次过来玩。</p>
  </body>
</html>
