<% include header %>
<style type="text/css">
	@-moz-document url-prefix() {
	  fieldset { display: table-cell; }
	}
	.table th,.table td{text-align: center;}
	.fr{text-align: right;padding-bottom: 10px;}
	#createApp label{line-height: 34px;}
	#createApp .row{margin-top: 5px;}
</style>
  <body>
  	<% include navbar %>
    <div class="container">
    	
    	<div class="fr">
    		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPanel">新建应用</button>
    	</div>
    	<div class="table-responsive">
			<table class="table table-striped table-hover">
		        <thead>
		         	<tr>
		            	<th style="width:10%">编号</th>
		            	<th style="width:20%">应用名称</th>
		            	<th style="width:25%">网址</th>
		            	<th style="width:25%">描述</th>
		            	<th style="width:10%">状态</th>
		            	<th style="width:10%">操作</th>
		          	</tr>
		        </thead>
		        <tbody>
		          	<tr>
		            	<td>D100001</td>
		            	<td>NodeBlog</td>
		            	<td>blog.coolfishstudio.com</td>
		            	<td>博客系统</td>
		            	<td>启动</td>
		            	<td>管理</td>
		          	</tr>
		          	<tr>
			            <td>D100002</td>
			            <td>NodeLBS</td>
			            <td>lbs.coolfishstudio.com</td>
			            <td>LBS管理系统</td>
			            <td>启动</td>
			            <td>管理</td>
		          	</tr>
		          	<tr>
			            <td>D100003</td>
			            <td>NodeMusic</td>
			            <td>music.coolfishstudio.com</td>
			            <td>音乐管理系统</td>
			            <td>停止</td>
			            <td>管理</td>
		          	</tr>
		        </tbody>
		    </table>
		</div>
    </div>

    <!-- Modal -->
	<div class="modal fade" id="createPanel" tabindex="-1" role="dialog" aria-labelledby="createPanelLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="createPanelLabel">新建应用</h4>
	      </div>
	      <div class="modal-body" id="createApp">
	 		
	      	<div class="row">
	      		<label class="col-sm-2 control-label text-right">应用名称</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control"  placeholder="name">
			    </div>
	      	</div>
	      	<div class="row">
	      		<label class="col-sm-2 control-label text-right">域名</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control"  placeholder="domain">
			    </div>
	      	</div>
	      	<div class="row">
	      		<label class="col-sm-2 control-label text-right">Git地址</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control"  placeholder="git url">
			    </div>
	      	</div>
	      	<div class="row">
	      		<label class="col-sm-2 control-label text-right">分支</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control"  placeholder="branch">
			    </div>
	      	</div>
	      	<div class="row">
	      		<label class="col-sm-2 control-label text-right">启动文件</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control"  placeholder="main script">
			    </div>
	      	</div>
	      	<div class="row">
	      		<label class="col-sm-2 control-label text-right">描述</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control"  placeholder="description">
			    </div>
	      	</div>
	      	<div class="row">
	      		<label class="col-sm-2 control-label text-right">展示图</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control"  placeholder="image">
			    </div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary">创建</button>
	      </div>
	    </div>
	  </div>
	</div>

  </body>
</html>
