<% include header %>
<% include headnev %>
<!-- pc轮播图 -->
<div class="banner_pc">
</div>
<!-- wap轮播图 -->
<div class="banner_wap">
	<div class="background-circle"><!-- 背景 -->
		<div class="body"></div><!-- 身体 -->


	</div>
</div>
<% include footer %>
<script type="text/javascript">
$(function(){
	//获取屏幕宽高 去处理中间的部分

});
</script>
